body {
    background-color: #deffd7;
}

h3 {
    margin: .5rem;
    padding: .5rem;
}

tbody {
    width: 100%;
}

button {
    margin: .5rem;
    border-radius: 4px;
    transition: all 200ms;
}

button:hover {
    background-color: darksalmon;
    scale: 1.2;
}

.button-active {
    background-color: darksalmon;
    scale: 1.2;
}

#container {
    height: auto;
}

#buttons {
    background-color: #a3d7a2;
    align-items: center;
    padding: 1rem;
    margin: 0;
}

#page-content {
    height: inherit;
    position: relative;
    background-color: #fdfffd;
    flex-wrap: wrap;
}

#user-info {
    width: 100%;
    background-color: #deffd7;
}

#plan {
    height: inherit;
    position: relative;
    width: 100%;
}

#dropdown {
    max-height: 1400px;
    position: relative;
    width: 40%;
    overflow-y: auto;
}

#user-plans {
    position: relative;
    margin: 0;
}

#user-plan-buttons {
    position: relative;
    z-index: 1;
}

#user-plans-content {
    position: absolute;
    background-color: transparent;
    z-index: 1;
}

#user-plans-content button {
    margin: 0;
}

#plan-name-div {
    width: 100%;
}

#plan-name-label {
    margin: auto 1rem auto 1rem;
}

#plan-name {
    margin: auto 1rem auto 0;
}

#plan-input-field {
    width: 100%;
    justify-content: center;
    margin: 1rem;
    font-size: 1.5rem;
}

#plan-input-field input {
    margin-left: 1rem;
}

#meals {
    width: 100%;
    height: inherit;
    padding: .5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meal-item {
    width: 100%;
    height: fit-content;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
}

#meals table {
    width: 100%;
    background-color: #deffd7;
}


#meals table tr {
    width: 100%;
    margin: .5rem;
}

#meals table td {
    width: calc(100% / 8 - 1rem);
    padding: .5rem;
}

#plan-total-table {
    width: 100%;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 6px;
    box-sizing: border-box;
}

#plan-buttons {
    width: 100%;
    margin: 0.5rem 1rem;
    background-color: #8cd97a;
    border: 2px solid black;
    border-radius: 6px;
}

#save-error-message {
    margin: auto 0 auto 1rem;
    color: #e53943;
    font-size: 1.2rem;
    font-weight: 900;
}

#login-modal {
    position: absolute;
    width: 100%;
    background-color: #deffd7;
}

#signup-modal {
    position: absolute;
    width: 50%;
    margin: auto;
    background-color: #deffd7;
}


#signup-form {
    width: 100%;
    flex-wrap: wrap;
}

#signup-error-message {
    width: 100%;
    text-align: center;
    color: #e53943;
}

#user-main-info {
    width: 50%;
}

#user-extra-info {
    width: 50%;
}

.signup-item {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-self: flex-start;
}

#signup-form label {
    margin-top: 1rem;
    width: 100%;
}

#signup-form input {
    margin-top: 1rem;
    font-size: 1.2rem;
    align-self: flex-start;
}

#signup-buttons {
    display: inline;
    align-items: center;;
}

#login-modal form {
    margin-top: 10rem;
}

.drop-down-content {
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: #deffd7;
    border: 1px solid #ddd;
    z-index: 1;
}

.drop-down-content a {
    width: 50%;
    color: black;
    margin: .5rem;
    font-size: .9rem;
    padding: 6px 8px;
    text-decoration: none;
    display: inline;
}

#food-dropdown input {
    width: 25%;
    margin: auto .5rem auto 0;
    padding: .5rem;
    display: none;
}

#food-dropdown button {
    width: 25%;
    margin: auto .5rem auto 0;
    padding: .5rem;
    display: none;
}

.drop-down-content a:hover {
    background-color: #d5d5d5;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}

.center {
    justify-content: center;
}

.color-greenish {
    background-color: #b3e8a3;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.margin-zero {
    margin: 0;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.color-red {
    color: #e53943;
    scale: 1.1;
}



